<div class="container">
  <h1>How It Works</h1>

  <div class="row">
    You can select
    from a variety of tours of Chicago that can be easily taken on the city's new Divvy bikes.
    Each tour has a route to ride, and points of interest to see. Clicking on a point of interest
    brings up information about that location. The map also has the location of
    the nearest Divvy stations to the tour stops, with information about the availability of bikes and open spots for
    docking your bikes when your tour is finished. Remember, you can only ride a bike for 30 minutes before it has to be turned in. 
  </div><br />

  <div class="row">
    If you sign up, you can comment on the tour stops we have, recommend new stops and up vote the stops that others have recommended.
  </div><br />

  <div class="row">
    Divvy is a new bike sharing system featuring thousands of bikes at hundreds of stations from Andersonville to Hyde Park, available 24/7, 365 days a year. Each station has a touchscreen kiosk, station map, and a docking system that releases bikes using a member key or ride code. You must be 16 years or older to ride Divvy. For more information see the <a href='https://www.divvybikes.com/how-it-works' class="reverse_link">Divvy site</a>
  </div>
</div>

