
<%= javascript_include_tag 'jquery.glide' %>
<script type="text/javascript">
  $(function(){
    $('.slider').glide({
        arrows: 'body',
        autoplay: false,
        navigation: 'body',
        circular: false
        });
  });
</script>

<div class="slider">
  <ul class="slider__wrapper">
      <li class="slider__item">
        <div class="presentation">
          <h1>Team Divvy Up</h1>
          <h3>Intention</h3>
          <p>Lorem ipsum Dolore laborum culpa enim velit quis consequat aliqua consectetur occaecat voluptate consequat dolore ea incididunt qui elit sint reprehenderit nulla eiusmod eu labore Excepteur pariatur velit sed ullamco.</p>
          <h3>What we built</h3>
          <p>Lorem ipsum Veniam ex pariatur in ad nulla cillum ad in ex culpa id ad minim minim consectetur tempor consectetur laboris reprehenderit Duis ex labore sit ea in irure ut eu in proident dolor veniam fugiat veniam consequat culpa consequat esse nisi.</p>
          <h3>Initial Plan</h3>
          <ul>
            <li>Options</li>
            <li>What we dropped</li>
            <li>What we added</li>
          </ul>
        </div>
      </li>

      <li class="slider__item">
        <div class="presentation">
          <h1>Jenn's Slide</h1>
          <h3>Topic1</h3>
          <p>Lorem ipsum Sunt laboris ea ullamco ex eu velit eu exercitation enim consectetur eu fugiat ex laborum ut deserunt tempor qui incididunt id veniam aliquip nulla qui ut.</p>
          <h3>Topic2</h3>
          <p>Lorem ipsum Sunt laboris ea ullamco ex eu velit eu exercitation enim consectetur eu fugiat ex laborum ut deserunt tempor qui incididunt id veniam aliquip nulla qui ut.</p>
        </div>
      </li>

      <li class="slider__item">
        <div class="presentation">
          <h1></h1>
          <h3>Topic1</h3>
          <p>Lorem ipsum Sunt laboris ea ullamco ex eu velit eu exercitation enim consectetur eu fugiat ex laborum ut deserunt tempor qui incididunt id veniam aliquip nulla qui ut.</p>
          <h3>Topic2</h3>
          <p>Lorem ipsum Sunt laboris ea ullamco ex eu velit eu exercitation enim consectetur eu fugiat ex laborum ut deserunt tempor qui incididunt id veniam aliquip nulla qui ut.</p>
        </div>
      </li>
      <li class="slider__item">
        <div class="presentation">
          <h1>General Intentions</h1>
          <h3>Design</h3>
          <ul>
            <li>Color Scheme</li>
            <li>Vide.js</li>
            <li>Glide.js</li>
          </ul>
          <br>
          <h3>Difficulties</h3>
          <ul>
            <li>jQuery</li>
            <li>GMaps.js</li>
            <li>Asynchronous Loading</li>
          </ul>
        </div>
      </li>
      <li class="slider__item">
        <div class="presentation">
          <h1>Questions?</li>
        </div>
      </li>
  </ul>
</div>