

<div class="form_container">
<h1>How It Works</h1>

<div class="row">
  <!-- <div class="small-6 columns"> -->
    You can select
    from a variety of tours of Chicago that can be easily taken on the city's new Divvy bikes.
    Each tour has a route to ride, and points of interest to see. Clicking on a point of interest
    brings up information about that location. You can also click the map to get the location of
    the nearest 5 Divvy stations with information about the availability of bikes and open spots for
    docking the bikes when your tour is finished.
  <!-- </div> -->
</div><br />

<div class="row">
  <!-- <div class="small-6 columns"> -->
    Divvy is a new bike sharing system featuring thousands of bikes at hundreds of stations from Andersonville to Hyde Park, available 24/7, 365 days a year. Each station has a touchscreen kiosk, station map, and a docking system that releases bikes using a member key or ride code. You must be 16 years or older to ride Divvy. For more information see the <a href='https://www.divvybikes.com/how-it-works'>Divvy site</a>
  <!-- </div> -->
</div>


</div>

