<div id="intro"><h2> Divvy Up </h2>
<button class="round">Get Started</button>
</div>

<div id="carousel">
<img src="../../assets/images/Night-Chicago.jpg" alt="Night Chicago">
</div>

<%= link_to "Sign Up", signup_path %>

<%= link_to "Log In", signup_path %>
    <%= flash[:success] %>

  <ul>
    <li> Architectural Tour </li>
    <li> Party Tour </li>
    <li> On the Run Tour </li>
    <li> Crime and Mob Tour </li>
    <li> Prohibition Tour </li>
    <li> Film Tour </li>
    <li> City Sights Tour </li>
    <li> Grand Tour </li>
  </ul>

<iframe src="//player.vimeo.com/video/52302939" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/52302939">Cityscape Chicago</a>