<h2> DivvyUp! </h2>




<%= link_to "Sign Up", signup_path %>

<%= link_to "Log In", signup_path %>

  <ul>
    <li> Architectural Tour </li>
    <li> Party Tour </li>
    <li> On the Run Tour </li>
    <li> Crime and Mob Tour </li>
    <li> Prohibition Tour </li>
    <li> Film Tour </li>
    <li> City Sights Tour </li>
    <li> Grand Tour </li>

  </ul>