
<div class="vid">
  <div class="sub_title">
    Combine the adventure of a Divvy bike ride
    with the sights of Chicago. We have a selection of self-guided bike
    tours you are bound to enjoy.
  </div>

  <div class="intro">

    <ul class="tour_list">
    <% Tour.all.each do |tour| %>
      <li><h4><a href='/tours/<%=tour.id%>'><%= tour.name %></a></h4></li>
      <p><%= tour.short_description %></p>
    <% end %>
    </ul>
  </div>
</div>

<%= javascript_include_tag 'jquery.vide.min'%>
<script type="text/javascript">
  $(function(){
    $('.vid').ready(function(){
      $('.vid').vide('/assets/bike.mp4',{playbackRate: 1,
        muted: true,
        loop: true,
        autoplay: true});
    });
  });
</script>
