<script type="text/javascript">
$(document).ready(function(){
  $('.container').vide('assets/bike.mp4');
  var instance = $('.container').data('vide');
  var video = instance.getVideoObject();
});

</script>

<div class="container">
<div class="sub_title">
  <p>
    Combine the adventure of a Divvy bike ride
    with the sights of Chicago. We have a selection of self-guided bike
    tours you are bound to enjoy.
  </p>
  <p>
    If you sign up with us, we welcome your comments and recommendations for places to add to our tours.
  </p>
</div>

<div class="intro">

  <ul class="tour_list">
  <% @tours.each do |tour| %>
    <li><a href='/tours/<%=tour.id%>'><%= tour.name %></a></li>
  <% end %>
  </ul>
</div>
</div>