
<%= javascript_include_tag 'jquery.glide' %>

<%= javascript_include_tag 'tour_map' %>
<script type="text/javascript">
  $(function(){
    $('.slider__wrapper').html('<%= escape_javascript(render partial:"slide" ) %>');
    $('.slider').glide({
        arrows: false,
        autoplay: false,
        navigation: 'body',
        circular: false
        });
  });
</script>
  <div class="map_div">
    <div id="map"></div>
  </div>
  <div class="slider">
    <ul class="slider__wrapper">

    </ul>
  </div>
