/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

html, body{
  min-width: 100%;
  height: 100%;
}
#map{
  overflow: hidden;
  display: block;
  width: 95%;
  max-width: 960px;
  height: 80vh;
  margin: 25px;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}
#map.large{
  height:500px;
}
<<<<<<< HEAD
#map img {
max-width: none;
}
img[src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png"] {
    display: none;
}
=======

.container {
  width:100%; 
  min-height: 700px;
}

>>>>>>> 09ed25bc0f99d1a95c77471ff80109cf6428dd81
.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}


ul.tour_list {
  list-style: none;
  margin-left: 0;
}

ul.tour_list li {
  margin: 10px;
  padding: 3px;
}

ul.tour_list a, ul.tour_list a:hover, ul.tour_list a:visited {
  padding: 10px;
  color: white;
  text-decoration: none;
}

ul.tour_list a:hover {
  color: #DBDA89;
}

.intro {
  margin: 40px auto;
  background-color: rgba(0,0,0,0.5);
  width: 20%;
  max-width: 240px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.sub_title {
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  max-width: 550px;
  margin: 30px auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

div.avgrund-popin.popup{
  overflow-y: scroll;
}
.comment{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.poi_container{
  width: 600;
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-bottom: 2px solid #ccc;
}