/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
::-webkit-scrollbar {
    display: none;
}


html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;

}
.map_div{
  margin-left: 0;
  width: 57%;
  position: fixed;
  z-index: 30;
}
.form_container{
  width: 80%;
  margin: 20px auto;
}
#map {
  overflow: hidden;
  display: block;
  max-width: 100%;
  height: 80vh;
  margin: 25px;
  -moz-box-shadow: 0px 5px 20px #000;
  -webkit-box-shadow: 0px 5px 20px #000;
  box-shadow: 0px 5px 20px #000;
  z-index: 30;
}
.map_div_placeholder{
  margin-left: 0;
  margin-right:0;
  width: 60%;
  position: relative;
  z-index: -1;
  float: left;
}
.map_placeholder{
  visibility: hidden;
  overflow: hidden;
  display: block;
  max-width: 100%;
  height: 80vh;
  margin: 25px;
  z-index: 100;
}
#map.large {
  height: 500px;
}
#map img {
  max-width: none;
}
.vid {
  position: absolute;
  width: 100%;
  min-height: 100%;
}
.overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 80px;
  opacity: 0.8;
  background: #4477aa;
  border: solid 3px #336699;
  border-radius: 4px;
  padding: 0 4px;
}
.overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}

.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}

.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}

p.short_desc {
  padding-left: 10px;
}

ul.tour_list {
  list-style: none;
  margin-left: 0;
}

ul.tour_list > li {
  margin: 10px;
  padding: 3px;
}
ul.tour_list a,
ul.tour_list a:visited {
  padding: 10px;
  color: white;
  text-decoration: none;
}
ul.tour_list a:hover {
  color: #ffb400;
}
ul.tour_list p {
  color: white;
}
.intro {
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
  width: 90%;
  max-width: 600px;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
}
.sub_title {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  max-width: 555px;
  margin: 30px auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
}
div.avgrund-popin.popup {
  overflow-y: scroll;
}
.comment {
  padding: 15px;
  border-top: 1px solid rgba(255,255,255,0.5);
}
.poi_container {
  width: 600;
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-bottom: 2px solid #ccc;
}
.info_pic{
   cursor: help;
  -webkit-transition: all 0,1s ease;
     -moz-transition: all 0,1s ease;
       -o-transition: all 0,1s ease;
      -ms-transition: all 0,1s ease;
          transition: all 0,1s ease;
}
.info_pic:hover{
  -webkit-filter: drop-shadow(10px 7px 1px grey);
}
.slider {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 93%;
  overflow: hidden;
  z-index: 25;
}
.slider__wrapper {
  margin: 0;
  height: 100%;
  float: left;
  list-style: none;
  z-index: 25;
}
.slider__item {
  position: inherit;
  display: block;
  height: 100%;
  max-height: 3000px;
  width: 100%;
  float: left;
  clear: none;
  overflow-y: auto;
}
.elem{
  background-color: rgba(0,0,0,0.8);
  padding: 15px;
  color: white;
  width: 35%;
  height: 3000px;
  max-height: 3000px;
  text-align: left;
  float: left;
}
.recom{
  color: white;
}
.recom:hover{
  color: blue;
}
.elem h1{
  color: white;
}
.slider__arrows-item {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
}
.slider__arrows-item--right {
  bottom: 50%;
  right: 30px;
  z-index: 300;
}
.slider__arrows-item--left {
  bottom: 50%;
  left: 30px;
  z-index: 300;
}
.slider__nav {
  position: fixed;
  bottom: 2%;
  z-index: 3000;
}
.slider__nav-item {
  width: 20px;
  height: 20px;
  float: left;
  clear: none;
  display: block;
  margin: 0;
  border-right: 1px solid orange;
  background: rgba(0,100,180,0.5);
}
.slider__nav-item--current {
  background: rgba(255,255,255,0.9);
  border:1px solid orange;
}
.slider__nav-item:hover {
  background: rgba(255,255,255,0.9);
}
.recommendation {
  padding: 15px;
}
#side {
  display: block;
  margin-right: 1%;
}
.elem > a, div p a, .row a {
  color: #ffb400;
}
.elem > a:hover, div p a:hover, .row a:hover {
  color: #009ed2;
}
a.reverse_link {
  color: #009ed2;
}
a.reverse_link:hover {
  color: #ffb400;
}
p label {
  color: #fff;
}
#title{
  margin: 20px auto;
  padding: 10px;
  max-width: 50%;
  text-align: center;
}
#title h1{
  color: white;
  margin: 0;
}

.presentation{
  width: 80%;
  margin: 30px auto;
  padding: 30px;
  height: 100%;
  text-align: center;
  z-index: 1;
}
.presentation h1{
  margin-bottom: 40px;
  font-weight: 700;
  font-family: 'Audiowide', cursive;
}
.presentation h3{
  font-weight: 700;
  color: #336699;
}
.presentation ul{
  text-align: center;
  margin: 0;
  padding: 0;
}
.presentation li{
  list-style-type: none;
}